<div class="card">
    <div class="card__top">
        <a href="<%= documentUrl %>" tabindex="-1"
                <% if (type === 'video') { %> target="_blank" <% } %> 
        >
            <img src="<%= thumbnailUrl %>">
        </a>
    </div>
    
    <div class="card__bottom">
        <a href="<%= documentUrl %>" class="card__bottom__title" tabindex="-1"
                <% if (type === 'video') { %> target="_blank" <% } %> 
        >
            <h2><%= title %></h2>
        </a>
        <div class="numero-info-row">
            <img src="<%= (type === 'numero' ? '/public/images/journal.png' : '/public/images/clap.png') %>">
            <% if (locals.number) { %>
                <span>n°<%= number %></span>
            <% } %>
            <span><%= date %></span>
        </div>
        <div class="card-buttons-row">
            <div class="dislike-container">
                <div class="dislike-container__hover-zone"></div>
                <button class="card-button--no-darken dislike-button" tabindex="-1">
                    <img src="/public/images/like.svg">
                </button>
            </div>
            <button class="card-button like-button" onclick="sendLike('<%= id %>')">
                <img src="/public/images/like.svg">
                <span class="js-like-counter" id="js-like-counter-id-<%= id %>">--</span>
            </button>
            <div class="card-spacer"></div>
            <% if (type === 'numero') { %>
                <a href="<%= documentUrl %>" class="card-button">
                    <img src="/public/images/oeil.png">
                    <span>Afficher</span>
                </a>
            <% } else { %>
                <a href="<%= documentUrl %>" target="_blank" class="card-button">
                    <img src="/public/images/jouer.png">
                    <span>Visionner</span>
                </a>
            <% } %>
        </div>
    </div>
</div>