<div class="numero-container">
    <h2 class="numero-title"><%= title %></h2>
    <img class="miniature" src="<%= thumbnailUrl %>">
    <div class="numero-container-bottom">
        <div class="numero-info">
            <img src="<%= (type === 'numero' ? '/public/images/journal.png' : '/public/images/clap.png') %>">
            <% if (locals.number) { %>
                <span>n°<%= number %></span>
            <% } %>
            <span><%= date %></span>
        </div>
        <a href="<%= documentUrl %>" target="_blank" class="see-button">
            <% if (type === 'numero') { %>
                <img src="/public/images/oeil.png">
                <span>Afficher</span>
            <% } else { %>
                <img src="/public/images/jouer.png">
                <span>Visionner</span>
            <% } %>
        </a>
    </div>
</div>